<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head'); %>
</head>

<body>
    <table class="table m-3">
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Img</th>
        </tr>
        <% lista.forEach(function(el){ %>
            <tr>
                <td>
                    <%=el.id%>
                </td>
                <td>
                    <%=el.name%>
                </td>
                <td>
                    <%=el.price%>
                </td>
                <td><img src=<%=el.thumbnail%> alt=""></td>
            </tr>
            <% }) %>
    </table>
    <a href="/" class="btn btn-primary m-3">Formulario</a>
</body>

</html>